/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set the font family */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Set background color and text color */
  body {
    background: url("https://img.freepik.com/premium-vector/dark-stripes-background-elegant-design-wallpapers_518299-1505.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Set the width of the wrapper */
  .wrapperOne {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Add styles to the main heading */
  .bike a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .bike img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .bike span {
    
    color: #fff;
    font-size: 36px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Add styles to the content section */
  .contentOne {
    height: fit-content;
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 60);
  }
  
  .contentOne h1 {
    font-size: 60px;
    font-family: 'Concert One', cursive;
    /* margin-bottom: 30px; */
  }
  
  .contentOne a {
    color: white;
  }
  
  /* Add styles to the paragraphs */
  .contentOne p {
    /* margin-bottom: 20px; */
  }
  
  /* Add styles to the last paragraph */
  .contentOne p:last-of-type {
    margin-bottom: 0;
  }
  
  /* Add media query to adjust layout on smaller screens */
  @media (max-width: 600px) {
    .contentOne {
      font-size: 20px;
      padding: 20px;
    }
  
    .contentOne h1 {
      font-size: 48px;
    }
  }
  