* {
    padding: 0px;
    margin: 0px;
    font-family: 'Concert One';
}

.contentOne {
    padding: 0px;
    height: 100vh;
    width: 100vmax;
    color: white;
    font-size: 30px;
    background: black
}