/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: url("https://img.freepik.com/premium-vector/dark-stripes-background-elegant-design-wallpapers_518299-1505.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Header styles */
.bike {
  display: block;
  margin: 30px auto 50px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.bike img {
  vertical-align: middle;
  margin-bottom: -10px;
}

/* Container styles */
.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 60);
  border-radius: 10px;
  padding: 30px;
  animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: none;
  border-bottom: 1px solid transparent;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #333;
}

button[type="submit"] {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* Sign-in heading styles */
.signin {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
